typings/
app/**/*.js
app/**/*.map
node_modules/
jspm_packages
build
bower_components
npm-debug.log

npm-debug.log
/benchpress-build/
.DS_Store
gen_docs.disable
test.disable
regression/temp*.html
performance/tem*.html
.idea/workspace.xml
*~
*.swp
angular.js.tmproj
angular.xcodeproj
.idea
*.iml
.agignore
.lvimrc
libpeerconnection.log
/tmp/
/scripts/bower/bower-*
.vscode
*.log
*.stackdump
